:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  text-align: center;
  background-image: url(./images/cardtable.jpg);
  color: whitesmoke;
}

button {
  height: 2rem;
  width: 5rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Work Sans', sans-serif;
}

h3 {
  font-size: 2rem;
  font-family: 'Work Sans', sans-serif;
}

img {
  height: 15rem;
  width: 10rem;
  padding: 0.5rem;
  margin: 1rem;
}
/***** Classes *****/

.dealer {
  padding-right: 2rem;
}

.header {
  margin: 0;
}

.hide {
  display: none;
}

.game-buttons {
  padding-bottom: 0.5rem;
}
.player-name {
  margin-top: 0.5rem;
  margin-bottom: 0.02rem;
}
.player-hand-total {
  margin: 0.5rem;
}

/***** Image Classes ****/

.header-img {
  padding-top: 1rem;
  margin: 0;
  height: 14rem;
  width: 20rem;
}
